<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <div id="footer-cont">
        <div id="des">
            <span>@Coding Ninjas All Rights Reserved</span>
        </div>
        <div id="pages">
            <a href="/">Home</a>
            <a href="/user/profile"> Profile</a>
        </div>
    </div>
</body>
</html>