<h1>Sign up Page</h1>

<form method="post" action="/user/create">

    <div class="password">
        <label>Name</label>
        <input type="text" name="name" id="pass" required>
    </div>
    <div class="email">
        <label>User Name</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div class="password">
        <label>Password</label>
        <input type="password" name="password" id="pass" required>
    </div>
    <div class="password">
        <label>Confirm Password</label>
        <input type="password" name="conPassword" id="con-pass" required>
    </div>
    <div class="submit">
        <input type="submit"    id="submit" required>
    </div>
    
</form>